<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceExplore</title>
</head>

<body>
    <div class="navigation">
        <div class="logo-wrap">
            <img class="logo" src="../assets/logo.png" alt="logo">
        </div>

        <button (click)=toggleMenu() class="menu-btn" type="submit">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <div [@fadeInOut] *ngIf="isMenuOpen" class="menu-text-wrap">
        <p>On this site you can view photos from Mars and feel this atmosphere :)</p>
    </div>

    <div class="select-rover-wrap">
        <div class="main-heading">
            <h1>Choose your rover</h1>
            <img src="../assets/astronaut.svg" alt="astronaut">
        </div>

        <div class="rovers-container">
            <div class="rover-item" *ngFor="let rover of rovers; index as i" (click)="onRoverClick(i)">
                <p class="rover-name">{{rover.name}}</p>
                <img [ngClass]="{'selected': i == selectedRoverIndex}" class="rover-img" [src]="rover.image" [alt]="rover.name">
            </div>
        </div>

        <div class="select-wrap" *ngIf="selectedRoverIndex >= 0">
            <label class="select-desc">Camera</label>
            <select name="camera" [(ngModel)]="selectedCamera" (change)="onOptionsChanged()">
                <option *ngFor="let camera of rovers[selectedRoverIndex].cameras; index as i" [selected]="i == 0" value="{{camera.abbreviation}}">{{camera.name}}</option>
            </select>
            <label class="select-desc">Sol</label>
            <input name="sol" type="number" min="0" (change)="onOptionsChanged()" [(ngModel)]="selectedSol"/>
        </div>

        <div class="loader-wrap" *ngIf='loading'>
            <p class="photo-preloader-text">loading</p>
            <div class="loader"></div>
        </div>
        <div *ngIf='photos != null'>
            <div class="photos-wrap" *ngIf='!loading && photos.length > 0'>
                <img *ngFor='let photo of photos' [src]='photo.img_src'>
            </div>
            <div *ngIf='!loading && photos.length === 0'>
                <p class="warn">Please select another sol or camera</p>
            </div>
            <div class="load-more-btn-wrap">
                <button class="load-more-btn" *ngIf='!noMorePhotos && !loading' (click)='loadMore()'>Load more <span *ngIf='loadingMore'>Loading</span></button>
            </div>
        </div>
    </div>

    <footer>
        <img class="footer-moon" src="../assets/moon-bottom.png" alt="moon">
    </footer>
</body>

</html>