
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    text-align: center;
    
}

.logo {
    width: 72px;
}

.menu-btn {
    background: transparent;
    border: none;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu-btn:focus {
    outline: none;
}

.menu-btn span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}

.menu-text-wrap  {
    padding: 15px 15px;
}

.menu-text-wrap p {
    color: #F2F2F2;
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 1.7;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.main-heading {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.main-heading h1 {
    color: #F2F2F2;
    text-align: center;
    margin-right: 10px;
}

.main-heading img {
    width: 50px;
}

 @keyframes fly {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 500%;
    }


    100% {
        background-position: 0% 0%;
    }
} 

body {
    background-image: url(../assets/stars.png);
    background-repeat: repeat;
    animation: fly 150s infinite;
    background-color: #14161E;
    min-height: 100vh;
}

.rovers-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.rover-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rover-name {
    color: #F2F2F2;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.rover-img.selected {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.rover-img {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    transition: all 0.5s;
}

.rover-img:hover {
    cursor: pointer;
    filter: grayscale(0%);
}


.select-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.select-desc {
    text-align: center;
    margin: 12px 0;
    color: #F2F2F2;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.select-wrap select , .select-wrap input {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    padding: 7px 7px;
    background: transparent;
    color: #F2F2F2;
    font-size: 16px;
}

.select-wrap select:focus , .select-wrap input:focus {
    outline: none;
}

.select-wrap input {
    margin-bottom: 25px;
}

.select-wrap select option {
    background: #14161E;
}

.photo-preloader-text {
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px; 
    color: #F2F2F2;
    margin: 20px 0;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #F3e3a4;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  display: block;
  margin: 0 auto;
}

.warn {
    text-align: center;
    margin: 25px 0;
    color: #a03232;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px; 
}

.photos-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos-wrap img {
    max-width: 100%;
    width: 300px;
    margin: 10px;
    transition: all 0.3s;
}

.photos-wrap img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.load-more-btn-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.load-more-btn {
    margin: 20px 0;
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    border: 1px solid #fff;
    transition: all 0.2s;
    background: transparent;
}

.load-more-btn:hover {
    background: transparent;
    cursor: pointer;
    border: 1px solid #1a531d;
    transform: scale(1.1);
}

.load-more-btn:focus {
    outline: none;
}


.footer-moon {
    max-width: 100%;
    width: 450px;
    margin: 0 auto;
    display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
   .rover-img {
       width: 150px;
       height: 150px;
   }

   .photos-wrap img {
       width: 150px;
   }
}

@media (min-width: 481px) and (max-width: 767px) {
  
    .main-heading h1 {
        font-size: 22px;
    }

    .warn {
        font-size: 17px;
    }
  
    .rover-img {
        width: 100px;
        height: 100px;
        margin: 15px 0;
    }
 
    .photos-wrap img {
        width: 100px;
    }
    
  }

@media (min-width: 320px) and (max-width: 480px) {

    .main-heading h1 {
        font-size: 22px;
    }

    .rovers-container {
        flex-direction: column;
    }

    .warn {
        font-size: 17px;
        line-height: 1.5;
    }
  
    .rover-img {
        width: 100px;
        height: 100px;
        margin: 15px 0;
    }
 
    .photos-wrap img {
        width: 100px;
    }
    
  }



  

